# Extract Job Posts from Indeed

Before extracting job posts from [Indeed](https://www.indeed.com/), make sure you have checked their [robots.txt](https://www.indeed.com/robots.txt) file.

## Create a table in database

In [2]:
import pandas
import configparser
import psycopg2

Read the database connection info from the config.ini

In [3]:
config = configparser.ConfigParser()
config.read('config.ini')

host = config['myaws']['host']
db = config['myaws']['db']
user = config['myaws']['user']
pwd = config['myaws']['pwd']

Establish a connection to the databas, and create a cursor.

In [4]:
conn = psycopg2.connect(host = host,
                       user = user,
                        password = pwd,
                        dbname = db
                       )
cur = conn.cursor()

Design the table in SQL

In [5]:
# replace the schema and table name to your schema and table name
table_sql = """
            CREATE TABLE IF NOT EXISTS demo.indeed
            (
                id SERIAL,
                job_title VARCHAR(200),
                job_company VARCHAR(200),
                job_loc VARCHAR(200),
                job_salary VARCHAR(200),
                job_summary TEXT,
                PRIMARY KEY(id)
            );

            """

create the table

In [6]:
cur.execute(table_sql)
conn.commit()

## Request HTML

[urllib.request](https://docs.python.org/3/library/urllib.request.html) makes simple HTTP requests to visit a web page and get the content via the Python standard library.
Here we define the URL to search job pots about Intelligence analyst.

In [7]:
url = 'https://www.indeed.com/jobs?q=intelligence+analyst&start=0'

In [8]:
import urllib.request
response = urllib.request.urlopen(url)
html_data= response.read()
#print(html_data.decode('utf-8'))

# Parese HTML
We can use the inspector tool in browsers to analyze webpages and use [beautifulsoup](https://www.crummy.com/software/BeautifulSoup/bs4/doc/) to extract webpage data.
pip install the beautiful soup if needed.

In [ ]:
!pip install beautifulsoup4

In [9]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(html_data,'html.parser')
#print (soup)

Use the <code> tag.find_all(‘tag_name’, tage_attr = ‘possible_value’)</code> function to return a list of tags where the attribute equals the possible_value.
<ul>Common attributes include:
<li> id</li>
<li> class<span style ="color:red">_</span></li>
</ul>

<ul>Common functions include:
<li> tag.text: return the visible part of the tag</li>
<li> tag.get(‘attribute’): return the value of the attribute of the tag</li>
</ul>

Since all the job posts are in the <code>div tag class = 'jobsearch-Sprep...'</code>, we need to find that div tag from the body tag.

In [10]:
for table_resultsBody in soup.find_all('table', id = 'resultsBody'):
    pass
    #print(table_resultsBody)

In [11]:
for table_pageContent in table_resultsBody.find_all('table', id = 'pageContent'):
    pass
    #print(table_pageContent)

In [12]:
for td_resultsCol in table_pageContent.find_all('td', id = 'resultsCol'):
    pass
    #print(td_resultsCol)

## Save Data to Database
Now we find the div tag contains the job posts. We need to identify the job title, company, ratings, reviews, salary, and summary. 
We can save those records to our table in the database.

In [13]:
#  identify the job title, company, ratings, reviews, salary, and summary
for div_row in td_resultsCol.find_all('div', class_='jobsearch-SerpJobCard unifiedRow row result'):

    # find job title
    job_title = None
    job_company  = None
    job_rating = None
    job_loc = None
    job_salary = None
    job_summary = None
    for h2_title in div_row.find_all('h2', class_ = 'title'):
       
        job_title = h2_title.a.text.strip().replace("'","_")
   
    for div_dsc in div_row.find_all('div', class_ = 'sjcl'):
        
        #find company name
        for span_company in div_dsc.find_all('span', class_ = 'company'):
            job_company = span_company.text.strip().replace("'","_")
        
        # find location
        for div_loc in div_dsc.find_all('div', class_ = 'location accessible-contrast-color-location'):
            job_loc = div_loc.text.strip().replace("'","_")
    
    # find salary
    for div_salary in div_row.find_all('div',class_ ='salarySnippet'):
        job_salary = div_salary.text.strip().replace("'","_")
    
    #find summary
    for div_summary in div_row.find_all('div', class_ = 'summary'):
        job_summary = div_summary.text.strip().replace("'","_")
        
    # insert into database
    
    sql_insert = """
                insert into demo.indeed(job_title,job_company,job_loc,job_salary,job_summary)
                values('{}','{}','{}','{}','{}')            
                """.format(job_title,job_company,job_loc,job_salary,job_summary)

    cur.execute(sql_insert)
    conn.commit()

## View the Table

In [14]:
df = pandas.read_sql_query('select * from demo.indeed', conn)
df[:]

,id,job_title,job_company,job_loc,job_salary,job_summary
0,151,Intelligence Analyst,Northrop Grumman,"McLean, VA 22102",None,Successful candidates in this position will co...
1,152,Intelligence Analyst,"Array Information Technology, Inc.","Chantilly, VA",None,.Demonstrated ability to create and provide in...
2,153,Intelligence Analyst,5 Stones intelligence,None,None,Analyze threat information from multiple sourc...
3,154,Human Svcs Investigator - Intelligence Analyst,State of Minnesota,None,$25.71 - $37.82 an hour,Copies of the college degree/diploma are accep...
4,155,Virtual Intelligence Analyst,G4S,None,None,Experience learning and quickly becoming profi...
5,156,Global Intelligence Analyst,AlertMedia,None,None,You have previous job experience in the news m...
6,157,Threat Intelligence Analyst,Ford Motor Company,None,None,This will involve the use of a variety of tool...
7,158,Undergraduate Internship/Co-op Program - Intel...,Central Intelligence Agency,None,$21.21 - $22.43 an hour,"Engineering, science students, or those in oth..."
8,159,Intelligence Analyst,General Dynamics Information Technology,None,None,Bringing the expertise needed to understand an...
9,160,CRIMINAL INTELLIGENCE ANALYST,"City of Houston, TX",None,$23.50 - $34.65 an hour,If you need login assistance or technical supp...
10,161,Intelligence Analyst (Remote),CrowdStrike,None,None,"Undergraduate degree, military training or rel..."
11,162,INTELLIGENCE RESEARCH SPECIALIST,US Department of Homeland Security,None,"$78,659 - $102,262 a year",Experience: You qualify for the GS-12 grade le...
12,163,Junior Intelligence Analyst,Valiant Integrated Services,None,None,"Use analytic tools to create charts, maps, tim..."
13,164,Graduate Studies Program - Intelligence Analyst,Central Intelligence Agency,None,$26.28 - $37.51 an hour,"Engineering, science students, or those in oth..."
14,165,Intelligence Analyst,Pinkerton,None,None,Plan and implement intelligence reporting proc...

In [15]:
cur.close()
conn.close()